{% extends "layout.html" %}
{% block title %}HEX Card Hover Javascript{% endblock %}
{% block content %}
<div class="main">
<div class="container">
<div class="row">
<div class="span12">
      	{% for snippet in snippets %}
      		<div class="widget stacked">
				
				<div class="widget-header">
				{{ snippet.title | safe }}
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
				{{ snippet.body | safe }}
				</div> <!-- /widget-content -->
			
			</div> <!-- /widget -->
			{% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}
{{ super() }}
{% endblock %}

{% block footer_right %}
{% endblock %}